/* * {
  margin: 0 auto;
  padding: 0;
} */

.all {
  width: 80%;
  margin: 0 auto;
}

.contents {
  /* z-index: inherit !important; */
  /* margin-top: 150px; */
}

.manu-main {
  min-height: 1000px;
  overflow: auto;
  line-height: 1.42857;
  color: #333;
  margin-top: 150px;
}

.manu-main * {
  box-sizing: border-box;
}

.manu-main button {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.manu {
  width: 150px;
  float: left;
  flex: 1;
}

.logo1 {
  height: 122px;
  padding: 1px;
  background: rgb(40, 109, 180);
  text-align: center;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.logo2 {
  width: auto;
}

.logo3 {
  width: 95px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-indent: inherit;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -2px;
}

.manu-1 {
  width: 200px;
  float: left;
}

@media (max-width: 1280px) {
  .manu-1 {
    display: none;
  }
}

.manu-1 .li-1 {
  background-color: rgb(249, 249, 249);
  border-width: 0px 1px 1px;
  border-style: solid;
  border-color: rgb(225, 228, 230);
  border-image: initial;
  color: rgb(17, 17, 17);
  /* padding: 10px ; */
  margin: 0px;
}

.manu-1 .li-1-1 {
  padding: 15px 10px 16px 17px;
  border-bottom: 1px solid rgb(225, 228, 230);
}

.manu-1 .li-1-1-1 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgb(17, 17, 17);
}

.manu-1 .li-1-2 {
  padding: 15px 10px 16px 17px;
  border-bottom: 1px solid rgb(225, 228, 230);
}

.manu-1 .li-1-2-1 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgb(17, 17, 17);
}

.manu-1 .li-1-3 {
  padding: 15px 10px 16px 17px;
  border-bottom: 1px solid rgb(225, 228, 230);
}

.manu-1 .li-1-3-1 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgb(17, 17, 17);
}

.section {
  width: 100%;
  float: left;
  flex: 3;
}

.section-2 {
  height: auto;
  margin-bottom: 40px;
}

.section-2-1 {
  background-color: rgb(130, 188, 226);
  color: rgb(255, 255, 255);
  border-width: 1px 1px 1px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(119, 174, 209);
  border-right-color: rgb(119, 174, 209);
  border-bottom-color: rgb(119, 174, 209);
  border-image: initial;
  border-left-style: initial;
  border-left-color: initial;
  height: 122px;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
  font-family: robotoThinNumber, roboto, "Courier New", Tahoma, NanumGothic,
    MalgunGothic, 돋움, dotum, sans-serif;
}

.manu-2 {
  zoom: 1;
}

.manu-2-1 {
  margin: 0px 0px 16px;
}

.manu-2-1-1 {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: rgb(15, 15, 15);
}

.table-main {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.table-body {
  width: 100%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding: 24px 24px 16px;
}

.table-day {
  display: inline-block;
  width: 50%;
  height: 28px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: rgb(17, 17, 17);
}

.tbody-1 {
  width: 100%;
}

/* .table-main tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}



.table-main td {
  display: table-cell;
  vertical-align: inherit;
} */

.td-1 {
  height: 100%;
  width: 600px;
  padding: 20px;
  vertical-align: top;
}

.td-2 {
  width: 200px;
  height: 100%;
  text-align: center;
  border-left: 1px solid rgb(238, 238, 238);
}

.td-1-1 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.td-1-1-1 {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  display: flex;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: bold;
  color: #111111;
}

.td-1-1-1-1 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(17, 17, 17);
}

.text-1:first-child {
  margin-top: 20px;
}

.text-1-1:empty {
  display: none;
}

.text-2 {
  overflow: hidden;
}

.text-2-1 {
  display: flex;
  flex-direction: row;
}

.text-2-img {
  display: flex;
  width: 64px;
  position: relative;
  margin-right: 16px;
}

.text-2-img img {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

img {
  width: 64px;
  aspect-ratio: auto 64 / 64;
  height: 64px;
  overflow-clip-margin: content-box;
  overflow: clip;
  vertical-align: top;
  border: 0 none;
}

.text-2-name {
  user-select: none;
  overflow: hidden;
  flex: 1 1 0%;
  display: flex;
}

.text-2-name-1 {
  display: flex;
  flex: 1 1 0%;
  user-select: none;
  min-width: 0px;
  flex-direction: column;
}

.text-2-name-1-1 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.text-2-name-1-2 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.text-button {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

.text-button-1 {
  min-height: 2.25rem;
  font-size: 0.875rem;
  width: 160px;
  margin: 5px 0px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  appearance: none;
  height: 2.25rem;
  width: 100%;
  border-radius: 4px;
  color: rgb(52, 106, 255);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(52, 106, 255);
  -webkit-tap-highlight-color: rgba(52, 106, 255, 0.1);
  font-size: 0.875rem;
}

.so1 {
  margin-top: 10px;
}

.menuBtn {
  cursor: pointer;
  background-color: rgb(235, 197, 109);
  color: white;
  width: 200px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
  margin-top: 3px;
}
