.create_main {
  display: flex;
  padding-top: 180px;
}
.createNotice {
  width: 100%;
}
.cartegory-top {
  display: flex;
  width: 100%;
}
.cartegory-top-left {
  flex-basis: 80%;
  box-sizing: border-box;
}

.cartegory-top-right {
  margin-left: 20px;
  flex-basis: 20%;
  box-sizing: border-box;
}

.createBtn {
  margin-top: auto;
  margin-left: 10px;
  width: 40%;
  height: 80px;
}

.title {
  width: 100%;
  height: 50px;
  box-sizing: content-box;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.categoryList {
  width: 100%;
  height: 30px;
  box-sizing: content-box;
}

.textBoard {
  width: 100%;
  height: 600px;
  resize: none;
}

.create-left {
  width: 10%;
}
.create-center {
  width: 80%;
}
.create-right {
  width: 10%;
}
