* {
  box-sizing: border-box;
}
.detail-container {
  width: 80%;
  margin: 0 auto;
  background-color: lightblue;
}
.detail-contentsBox {
  display: flex;
  flex-direction: column;
}

.detail-contentsBox2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.detail-contentsBox3 {
  width: 100%;
  margin-top: 20px;
}
.detail-contentsBox4 {
  width: 100%;
  margin-top: 20px;
}
.detail-products {
  width: 50%;
  height: 400px;
}
.detail-imgBox {
  width: 100%;
  height: 100%;
}
/* .imgBox > img {
  width: 400px;
  height: 400px;
} */
.detail-imgbox-flex {
  display: flex;
  height: 100%;
}
.detail-itembox {
  width: 28%;
}
.detail-imgbox1 {
  width: 100%;
}
.detail-divRecommend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*캐러셀 기능을 리액트로 구현하고 싶어*/
