* {
  box-sizing: border-box;
}
.detail-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.detail-contentsBox {
  display: flex;
  flex-direction: column;
}

.detail-contentsBox2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.detail-contentsBox3 {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}
.detail-contentsBox4 {
  width: 100%;
  margin-top: 20px;
}
.detail-products {
  width: 50%;
  height: 400px;
}
.detail-imgBox {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  margin-right: 20px;
}

.detail-imgbox-flex {
  display: flex;
  height: 100%;
}
.detail-itembox {
  width: 28%;
}
.detail-imgbox1 {
  width: 100%;
}
.detail-divRecommend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

/*캐러셀 기능을 리액트로 구현하고 싶어*/
