* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: lightblue;
}
.contentsBox {
  display: flex;
  flex-direction: column;
}

.contentsBox2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.products {
  width: 50%;
  height: 400px;
}
.imgBox {
  width: 100%;
  height: 100%;
}
/* .imgBox > img {
  width: 400px;
  height: 400px;
} */
.detail-imgbox-flex {
  display: flex;
  height: 100%;
}
.detail-itembox {
  width: 28%;
}
.detail-imgbox1 {
  width: 100%;
}

/*캐러셀 기능을 리액트로 구현하고 싶어*/
