.adminPage,
.adminPage * {
  padding: 0;
  margin: 0;
  /* border: 1px solid gray; */
  box-sizing: border-box;

  list-style: none;
}

.adminPage {
  position: relative;
}




.adminNav {
  width: 100%;
  height: 100px;
  position: relative;
  border-bottom: 1px solid black;
}

.adminNav a {
  text-decoration: none;
  color: black;
}

.adminNav * {
  border: none;
}

.adminNav>* {
  position: absolute;
  color: black;
  display: flex;
}

.adminNav>ul {
  bottom: 4px;
  width: 70%;
  right: 5%;
}

.adminNav>ul>li {
  margin-left: 5%;
}

.adminNav>ul>li>a {
  display: block;
  padding: 10px;
  font-size: 1.1rem;
}

.adminNav>h1 {
  bottom: 10px;
  left: 5%;
}















.adminCategory {
  width: 200px;
  height: calc(100vh - 120px);
  padding: 13px;
}
.adminCategory li {
  cursor: pointer;
  user-select: none;
}

.adminCategory>div,
.adminCategory>ul>li {
  border: 1px solid #ccc;
  background: #eee;
}

.adminCategory>ul>li>ul>li {
  border-top: 1px solid #fff;
  background: #ccc;
}

.adminCategory>ul>li>ul>li>ul>li {
  border-top: 1px solid #ccc;
  background: #fda;
}














.admincontentBox,
.adminModal {
  position: absolute;
}

.admincontentBox ::placeholder {
  font-size: 0.5rem;
}

.admincontentBox {
  top: 100px;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100vh - 120px);
}

.admincontentBox>div {
  position: absolute;
}

.adminEdit {
  top: 50px;
  left: 70px;
  width: 80%;
  height: 100px;
}

.adminEdit > button {
  padding: 2px 7px;
}

.adminViewer {
  top: 180px;
  left: 70px;
  width: 80%;
  height: 600px;
}

.adminViewer div:first-child {
  width: 100%;
  height: 15%;
}

.adminViewer div:last-child {
  width: 100%;
  height: 85%;
}

.viewrHead {
  display: inline-block;
  position: relative;
}

.viewrHead > * {
  margin: 2px 5px;
}
.viewrHead > input:last-child {
  position: absolute;
  top: 30px;
}

.viewerBody, .viewerBody>span {
  padding: 0px 10px 2px;
  border: 1px solid black;
}










.adminModal {
  position: absolute;
  display: none;
}