* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  padding-top: 180px;
}

#mainContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 20vh;
}
.carousel-style {
  width: 100%;
}

.slide-item {
  width: 100%;
  padding: 0 20px;
  cursor: pointer;
}

.slide-item > img {
  width: 25vw;
  height: 25vw;
}

.slide-textBox {
  padding: 10px 0;
}

.slide-item > .slide-text {
  font-size: 1rem;
}

// 요즘뜨는상품 스타일
#hotItemContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

.menu2 {
  margin-top: 20vh;
}

@mixin hotItem($url: url) {
  background-image: url($url);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  //
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
  height: 20vw;
  text-align: center;
  line-height: 20vw;
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
  text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(0, 0, 0), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
  cursor: pointer;
}

.hotItem1 {
  @include hotItem($url: "../../img/notebook.png");
}

.hotItem2 {
  @include hotItem($url: "../../img/earphone.png");
}
.hotItem3 {
  @include hotItem($url: "../../img/cpu.png");
}
.hotItem4 {
  @include hotItem($url: "../../img/nintendo.png");
}
.hotItem5 {
  @include hotItem($url: "../../img/iphone.png");
}
.hotItem6 {
  @include hotItem($url: "../../img/bag.png");
}
.hotItem7 {
  @include hotItem($url: "../../img/ipad.png");
}
.hotItem8 {
  @include hotItem($url: "../../img/converse.png");
}

.menu3 {
  margin-top: 20vh;
}

.newProductContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.newItem {
  width: 1fr;
  padding-left: 20px;
  cursor: pointer;
}

.newItem > img {
  width: 20vw;
  height: 20vw;
}

.newItem > p:nth-of-type(2) {
  font-weight: bold;
}
