/* * {
  text-align: center;
  margin: 0 auto;
} */
.container1 {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.imgBoxs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.products {
  width: 100%;
}
.img1 {
  width: 200px;
  height: 200px;
}
.text1 > p {
  text-align: center;
}
