header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  padding-bottom: 10px;
  box-shadow: 1px 1px 7px rgb(97, 96, 96);
}

.headContent {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 80%;
  height: 80px;
  margin: 0 auto;
}

.logo {
  height: 90px;
  display: flex;
  text-align: center;
  align-items: center;
}

.logo img {
  width: 80px;
}
.logo-text {
  height: 90px;
  padding-top: 20px;
}
.logo-text img {
  width: 150px;
}

.logo div {
  font-size: 2rem;
  line-height: 90px;
  margin-left: 20px;
  min-width: 120px;
}

.logo div a:link {
  color: black;
}

.logo div a:visited {
  color: black;
}

.logo div a:active {
  color: rgb(145, 63, 63);
}

.searchBox {
  display: flex;
  text-align: center;
  align-items: center;
}

.searchBox form {
  flex: 1;
}

.searchBox input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  outline-color: rgba(109, 200, 42, 0.5);
}

.searchBox label {
  position: relative;
}

.searchBox span {
  position: absolute;
  right: 30px;
  top: 3px;
  cursor: pointer;
}

.userBtn {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.userBtn button:first-child {
  // margin-right: 10px;
  // background-color: rgba(109, 200, 42, 0.7);
  color: black;
  // border: 1px solid rgba(199, 138, 67, 0.1);
  border-radius: 5px;
  // padding: 5px 10px;
  min-width: 100px;
  cursor: pointer;
  &:hover {
    background-color: rgba(109, 200, 42, 0.3);
  }
}

.userBtn button:last-child {
  // background-color: rgba(199, 138, 67, 0.7);
  color: black;
  // border: 1px solid rgba(199, 138, 67, 0.7);
  border-radius: 5px;
  // padding: 5px 10px;
  cursor: pointer;
  min-width: 110px;
  &:hover {
    background-color: rgba(199, 138, 67, 0.3);
  }
}

#navContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 2rem 10% 0 10%;
}
// #navContainer {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin: 2rem 10% 0 10%;
// }

.navContent {
  width: 80%;
  display: flex;
}

.category {
  background-color: rgba(109, 200, 42, 0.7);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}

#categoryBox {
  position: absolute;
  width: 250px;
  /* background-color: #efefef; */
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  height: 500px;
  overflow: auto;
}

.category:hover > #categoryBox {
  opacity: 1;
  transition: all linear 0.3s;
  visibility: visible;
}

#categoryBox ul {
  border-radius: 10px;
  background-color: white;
  margin: 0;
  padding-left: 0;
}

.categoryItem {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.categoryItem a {
  border-radius: 10px;
  display: block;
  height: 100%;
}

.categoryItem a:link {
  /* color: #b0b0b0; */
  color: black;
}

.categoryItem a:visited {
  color: black;
}

.categoryItem a:active {
  color: rgb(145, 63, 63);
}

.categoryItem a:hover {
  background-color: rgba(109, 200, 42, 0.7);
  color: black;
  transition: all 0.7s;
}

.category_selectBtn {
  min-width: 85px;
  > svg {
    transform: translateY(2px);
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menuItem {
  margin: 0 5px;
  padding: 10px;
  border-radius: 8px;
  color: #e8e8e8;
  text-align: center;
  min-width: 100px;
}

.menuItem a {
  display: block;
  color: black;
}

.menuItem:hover a {
  transition: all ease 0.4s;
  color: white;
}
.menuItem:hover {
  transition: all ease 0.4s;
  background-color: rgba(109, 200, 42, 0.7);
}

.menuItem a:active {
  color: rgb(145, 63, 63);
}

.login-info {
  display: flex;
  justify-content: end;
  align-items: center;
}

.loginedUserNick {
  margin-right: 5px;
}

.loginTimer {
  > span {
    background-color: rgba(188, 211, 255, 0.7);
    color: black;
    padding: 5px;
    border-radius: 10px;
  }
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 900px) and (min-width: 640px) {
  * {
    transition: all ease-out 0.3s;
  }
  .headContent {
    grid-template-columns: 25% 50% 25%;
    height: 60px;
  }
  .categoryItem {
    width: 200px;
    a {
      width: 200px;
    }
  }
  #categoryBox ul {
    width: 200px;
  }
  .logo img {
    width: 64px;
    height: 64px;
  }
  .logo > div {
    margin-left: 0;
  }
  .logo-text img {
    width: 120px;
  }
  .userBtn {
    button:nth-of-type(1) {
      font-size: 0.6rem;
      width: 70px;
    }
    button:nth-of-type(2) {
      font-size: 0.6rem;
      width: 70px;
    }
  }
  .menuItem {
    font-size: small;
    min-width: 70px;
    padding: 10px 0;
    margin: 0 3px;
  }
  .login-info {
    .loginedUserNick {
      font-size: small;
    }
    .loginTimer {
      display: none;
    }
  }
}

/* 모바일 미디어쿼리 */
@media screen and (max-width: 639px) and (min-width: 420px) {
  * {
    transition: all ease-out 0.3s;
  }
  .headContent {
    grid-template-columns: 15% 60% 25%;
    height: 50px;
  }
  #navContainer {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .navContent {
    align-items: center;
  }
  .category {
    width: 70px;
    height: 30px;
    line-height: 30px;
  }
  .category_selectBtn {
    font-size: 0.7em;
    min-width: 70px;
  }
  .categoryItem {
    width: 100px;
    a {
      width: 100px;
      font-size: 0.7rem;
    }
  }
  #categoryBox ul {
    width: 100px;
  }
  .logo img {
    width: 64px;
    height: 64px;
  }
  .logo > div {
    display: none;
  }
  .searchBox input {
    font-size: 0.7rem;
  }
  .userBtn {
    button:nth-of-type(1) {
      font-size: 0.5rem;
      min-width: 60px;
    }
    button:nth-of-type(2) {
      font-size: 0.5rem;
      min-width: 70px;
    }
  }
  .menuItem {
    font-size: 0.6rem;
    margin-left: 0;
    text-align: center;
    min-width: 70px;
  }
  .login-info {
    .loginedUserNick {
      display: none;
    }
    .loginTimer {
      display: none;
    }
    > button {
      width: 40px;
      min-width: 40px;
      font-size: 0.5rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 419px) {
  * {
    transition: all ease-out 0.3s;
  }
  .headContent {
    grid-template-columns: 15% 60% 25%;
    height: 50px;
    width: 100%;
  }
  #navContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0 5px;
  }
  .navContent {
    align-items: center;
  }
  .menuItem {
    margin-left: 0;
    text-align: center;
    min-width: 49px;
  }
  .menuItem:first-of-type {
    margin-left: 5px;
  }
  .category > span,
  .menu {
    font-size: 0.6rem;
  }
  .category {
    width: 70px;
    height: 30px;
    line-height: 30px;
    min-width: 70px;
  }
  .categoryItem {
    width: 100px;
    a {
      width: 100px;
      font-size: 0.6rem;
    }
  }
  .category_selectBtn {
    font-size: 0.7em;
    min-width: 70px;
  }
  #categoryBox ul {
    width: 100px;
  }
  .logo img {
    width: 48px;
    height: 48px;
  }
  .logo > div {
    display: none;
  }
  .searchBox input {
    font-size: 0.5rem;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .searchBox span {
    right: 10px;
  }
  .userBtn {
    display: block;
    padding-top: 20px;
    text-align: center;
    button:nth-of-type(1) {
      font-size: 0.4rem;
      min-width: 45px;
      padding: 5px;
      margin: 0;
    }
    button:nth-of-type(2) {
      font-size: 0.4rem;
      min-width: 60px;
      padding: 5px;
    }
  }
  .login-info {
    .loginedUserNick {
      display: none;
    }
    .loginTimer {
      display: none;
    }
    > button {
      width: 40px;
      min-width: 40px;
      font-size: 0.5rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
